*{
	 margin: 0px;
	 padding: 0px;
	 box-sizing: border.box;
}
a{
	 text-decoration: none;
	  text-underline: none;
}
.footer-main-div{
	 width: 100%;
	 height: auto;
	 margin: auto;
	 background: #272727;
	 padding: 20px 0px;
}
.footer-social-icon{
	 width: 100%;
	 height: auto;
	 margin: auto;
}
.footer-social-icon ul{
	margin: 0px;
	padding: 0px;
	text-align: center;
}
.footer-social-icon ul li{
	display: inline-block;
	width: 50px;
	height: 50px;
	margin: 0px 10px;
	border-radius: 100%;
	background: #32CD32;
}
.footer-social-icon ul li a{
	 color:#272727;
	 font-size:25px;
	 display:block;
}
.footer-social-icon ul li a i{
	line-height: 50px;
}	
.footer-menu-one{
	 width: 100%;
	 height: auto;
	 margin: auto;
	 margin-top: 20px;
}
.footer-menu-one ul{
	margin: 0px;
	padding: 0px;
	text-align: center;
}	
.footer-menu-one ul li{
	display: inline-block;
	margin: 0px 15px;
}	
.footer-menu-one ul i a{
	font-family: arial;
	font-size: 15px;
	font-weight: 600;
	text-transform: uppercase;
}	
.footer-bottom{
	width: 100%;
	height: auto;
	margin: auto;
	background: #32CD32;
	padding: 10px;
	letter-spacing: 1px;
}
.footer-bottom p{
	  font-family:arail;
	  font-size: 14px;
	  text-align: center;
	  color: #fff;
}	
.footer-bottom p a{
	color: #fff;
}	
.footer-bottom p a:hover{
	color: 32CD32;
}	
.footer-menu-one ul li a:hover{
	color: 32CD32;
}
.footer-social-icon ul li:hover{
	background: skyblue;
}	
.search :hover{
	color: #fff;
}	